    {% extends "base.html" %}
    {% block header %}
    	Register
    {% endblock %}
    {% block content %}
      {% from "forms/macros.html" import render_field %}
      <form method="POST" action="." class="form">
        {{ form.csrf_token }}
        {{ render_field(form.name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ render_field(form.accept_tos) }}
        <div class="form-group">
    	    <label class="col-lg-2 control-label" >ReCaptcha</label>
	        {{ form.recaptcha }}
    	</div>
        <div class="form-group">
      		<div class="col-lg-10 col-lg-offset-2">
        		<button type="submit" class="btn btn-primary">Register</button>
      		</div>
    	</div>
      </form>
      <a href="{{ url_for('user.login') }}">Login</a>
    {% endblock %}