{# This file is part of Living Labs Challenge, see http://living-labs.net.
 #
 # Living Labs Challenge is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Living Labs Challenge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with Living Labs Challenge. If not, see <http://www.gnu.org/licenses/>.
 #}
   {% extends "base.html" %}
   {% block header %}
    	Admin
   {% endblock %}
   {% block content %}
   	<table class="table table-striped table-hover ">
    	<tbody>
      	<tr>
	      <td>#participants</td>
	      <td>{{ stats.participants.all }}</td>
      	</tr>
      	<tr>
	      <td>#verified participants</td>
	      <td>{{ stats.participants.verified }}</td>
      	</tr>
      	<tr>
	      <td>#participants with runs</td>
	      <td>{{ stats.participants.active }}</td>
      	</tr>
      	<tr>
	      <td>#sites</td>
	      <td>{{ stats.sites.all }}</td>
      	</tr>
      	<tr>
	      <td>#enabled sites</td>
	      <td>{{ stats.sites.active }}</td>
      	</tr>
      	<tr>
	      <td>#sites with runs</td>
	      <td>{{ stats.sites.runs }}</td>
      	</tr>
      	<tr>
	      <td>#queries</td>
	      <td>{{ stats.queries }}</td>
      	</tr>
      	{% for site in stats.per_site %}
      	<tr>
	      <td><b>{{site}}</b> </td>
	      <td>#queries</td>
	      <td>{{ stats.per_site[site].queries }}</td>
      	</tr>      	
      	<tr>
	      <td><b>{{site}}</b> </td>
	      <td>#participants with runs</td>
	      <td>{{ stats.per_site[site].participants }}</td>
      	</tr>      	
      	{% endfor %}
      	</tbody>
  	</table>
   {% endblock %}