{# This file is part of Living Labs Challenge, see http://living-labs.net.
 #
 # Living Labs Challenge is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Living Labs Challenge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with Living Labs Challenge. If not, see <http://www.gnu.org/licenses/>.
 #}
   {% extends "base.html" %}
   {% block header %}
    	Admin Outcomes for site {{site_id}}
   {% endblock %}
   {% block content %}
   	<table class="table table-striped table-hover ">
  	  <thead>
      	<tr>
      		<th colspan='3'></td>
      		<th colspan='5'>Train</td>
	      	{% for o in outcomes[0].outcome.test %}  		
      		<th colspan='5'>{{o.test_period.NAME}}</td>
	        {% endfor %}
      	</tr>
      	<tr>
      		<th>Teamname</td>
      		<th>Email</td>
      		<th>Joined</td>
      		<th>Outcome</td>
      		<th>#Wins</td>
      		<th>#Losses</td>
      		<th>#Ties</td>
      		<th>#Impressions</td>
	      	{% for o in outcomes[0].outcome.test %}  		
      		<th>Outcome</td>
      		<th>#Wins</td>
      		<th>#Losses</td>
      		<th>#Ties</td>
      		<th>#Impressions</td>
	        {% endfor %}
      	</tr>
	    </thead>
    	<tbody>
      	{% for outcome in outcomes %}
      	<tr>
	      <td>{{ outcome.user.teamname }}</td>
	      <td>{{ outcome.user.email|urlize }}</td>
	      <td>{{ outcome.user.creation_time.strftime('%Y-%m-%d') }}</td>
	      <td>{{'%0.4f' % outcome.outcome.train.outcome}}</td>
	      <td>{{outcome.outcome.train.wins}}</td>
	      <td>{{outcome.outcome.train.losses}}</td>
	      <td>{{outcome.outcome.train.ties}}</td>
	      <td>{{outcome.outcome.train.impressions}}</td>
	      {% for o in outcome.outcome.test %}
	      <td>{{'%0.4f' % o.outcome}}</td>
	      <td>{{o.wins}}</td>
	      <td>{{o.losses}}</td>
	      <td>{{o.ties}}</td>
	      <td>{{o.impressions}}</td>
	      {% endfor %}
      	</tr>     	
      	{% endfor %}
      	</tbody>
  	</table>
   {% endblock %}