{# This file is part of Living Labs Challenge, see http://living-labs.net.
 #
 # Living Labs Challenge is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Living Labs Challenge is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with Living Labs Challenge. If not, see <http://www.gnu.org/licenses/>.
 #}
   {% extends "base.html" %}
   {% block header %}
    	Sites
   {% endblock %}
   {% block content %}
	{% if sites %}
	{% if user.is_participant %}
    <p>These are the sites you have signed up for. You will need to 
    <a href="{{ url_for('user.sites') }}">sign up</a> for each site individually
    to obtain their data.</p>
	<p>Clicking on the <span class="glyphicon glyphicon-circle-arrow-right"></span> will 
	give more information such as queries, documents and some basic statistics.</p>
	{% endif %}
    <table class="table table-striped table-hover ">
    <thead>
    <tr>
    	<th>Short name</th>
    	<th>Name</th>
    	<th>Url</th>
    	<th></th>    	
    </tr>
    </thead>
    <tbody>
    {% for site in sites %}
    {% if site.enabled or user.is_admin%}
    <tr>
      <td>{{ site._id }}{% if site.is_robot %}<img src="/static/icon_robot.svg" style="height: 14px; position: relative;top: -3px;left: 2px;"/>{% endif %} 
      </td>
      <td>{{ site.name }}</td>
      <td>{{ site.url|urlize }}</td>
      <td><a href="/site/{{ site._id}}"><span class="glyphicon glyphicon-circle-arrow-right"></span></a>
      {% if user.is_admin %}
      <a href="/site/{{ site._id}}/delete"><span class="glyphicon glyphicon-remove"></span></a>   
      {% if site.enabled %}
        <a href="/site/{{ site._id}}/disable"><span class="glyphicon glyphicon-eye-open"></span></a>      
      {% else %}
         <a href="/site/{{ site._id}}/enable"><span class="glyphicon glyphicon-eye-close"></span></a>
      {% endif %}
      {% if site.is_robot %}
        <a href="/site/{{ site._id}}/unset_robot"><img src="/static/icon_robot.svg" height="14px"/></a>  
      {% else %}
        <a href="/site/{{ site._id}}/set_robot"><img src="/static/icon_robot.svg" height="14px"/></a>
      {% endif %}      
      {% endif %}
      </td>
  	</tr>
    {% endif %}
    {% endfor %}
  	</tbody>
	</table>
	Sites marked with a <img src="/static/icon_robot.svg" style="height: 14px; position: relative;top: -3px;left: 2px;"/> are simulations. 
	{% else %}
	<div class="alert alert-warning">
    You have not yet signed up for any sites. You will need to individually
    <a href="{{ url_for('user.sites') }}">sign up</a> for each site to obtain 
    their data.
    </div>
	{% endif %}
   {% endblock %}