   {% extends "base.html" %}
   {% block header %}
    	Sites
   {% endblock %}
   {% block content %}
    <table class="table table-striped table-hover ">
    <thead>
    <tr>
    	<th>Short name</th>
    	<th>Name</th>
    	<th>Url</th>
    	<th></th>    	
    </tr>
    </thead>
    <tbody>
    {% for site in sites %}
    <tr>
      <td>{{ site._id }}</td>
      <td>{{ site.name }}</td>
      <td>{{ site.url|urlize }}</td>
      <td><a href="/site/{{ site._id}}"><span class="glyphicon glyphicon-circle-arrow-right"> </span></a></td>
  	</tr>
    {% endfor %}
  	</tbody>
	</table> 
   {% endblock %}